.Product {
  width: 500px;
  section {
    .Info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .sizes {
        display: flex;
        justify-content: space-between;
        border: 1px solid black;
        margin: 0;
        .size {
          font-size: 17px;
          font-weight: 500;
          margin: 0;
          color: black;
          padding: 10px;
          cursor: pointer;
        }
      }
      .colors {
        display: flex;
        justify-content: space-between;
        border: 1px solid black;
        padding: 5px;
        gap: 30px;
        .color {
          width: 30px;
          height: 30px;
          cursor: pointer;
          border-radius: 50%;
        }
        .white {
          background-color: white;
          border: 1px solid black;
        }
        .green {
          background-color: green;
          border: 1px solid black;
          border-radius: 99%;
        }
        .black {
          background-color: black;
          border: 1px solid black;
          border-radius: 80%;
        }
      }
      .price {
        font-size: 25px;
      }
    }
  }
}
